DirectoryIndex index.php
AddDefaultCharset UTF-8
Options All -Indexes

<IfModule mod_headers.c>
<FilesMatch ".(webp|gif|jpg|jpeg|png|ico|svg|js|css|pdf)$">
  Header set Cache-Control "max-age=31536000"
</FilesMatch>
</IfModule>

<IfModule mod_deflate.c>
AddOutputFilterByType DEFLATE text/html
AddOutputFilterByType DEFLATE application/javascript
AddOutputFilterByType DEFLATE text/javascript
AddOutputFilterByType DEFLATE text/css
<IfModule mod_setenvif.c>
BrowserMatch ^Mozilla/4 gzip-only-text/html
BrowserMatch ^Mozilla/4\.0[678] no-gzip
BrowserMatch \bMSIE !no-gzip !gzip-only-text/html
</IfModule>
</IfModule>

<IfModule mod_expires.c>

# активация формирования заголовков Expires
  ExpiresActive on

# Кэширование по умолчанию 1 месяц
  ExpiresDefault "access plus 1 month"

# Не кэшировать HTML, текст, XML, JSON
  ExpiresByType text/html "access plus 0 seconds"
  ExpiresByType text/xml "access plus 0 seconds"
  ExpiresByType application/xml "access plus 0 seconds"
  ExpiresByType application/json "access plus 0 seconds"

# Кэшировать Favicon 1 год
  ExpiresByType image/x-icon "access plus 1 year"

# Кэшировать картинки и видео 1 месяц
  ExpiresByType image/gif "access plus 1 month"
  ExpiresByType image/png "access plus 1 month"
  ExpiresByType image/jpg "access plus 1 month"
  ExpiresByType image/jpeg "access plus 1 month"
  ExpiresByType video/ogg "access plus 1 month"
  ExpiresByType audio/ogg "access plus 1 month"
  ExpiresByType video/mp4 "access plus 1 month"
  ExpiresByType video/webm "access plus 1 month"

# Кэшировать файлы шрифтов 1 неделю
  ExpiresByType application/x-font-ttf "access plus 1 month"
  ExpiresByType font/opentype "access plus 1 month"
  ExpiresByType application/x-font-woff "access plus 1 month"
  ExpiresByType image/svg+xml "access plus 1 month"
  ExpiresByType application/vnd.ms-fontobject "access plus 1 month"

# Кэшировать CSS и JS 1 год
  ExpiresByType text/css "access plus 1 month"
  ExpiresByType text/javascript "access plus 1 month"
  ExpiresByType application/javascript "access plus 1 month"

</IfModule>

RewriteBase /
Options +FollowSymLinks
RewriteEngine On


RewriteRule ^production/accufuser-continuous.html$ /catalog/accufuser-continuous [L,R=301]
RewriteRule ^production/accufuser-ctx.html$ /catalog/accufuser-ctx [L,R=301]
RewriteRule ^production/accufuser-varicon.html$ /catalog/accufuser-m16c [L,R=301]
RewriteRule ^production.html$ /catalog [L,R=301]
RewriteRule ^production/instrukcii/instrukciya-po-zapolneniyu-mikroinfuzionnyh-pomp-mip.html$ /catalog/accufuser-m8c [L,R=301]
RewriteRule ^production/novyj-resurs/sistemy-infuzionnye-s-reguljatorom.html$ /catalog/accufuser-omnibus [L,R=301]
RewriteRule ^production/novyj-resurs/sistemy-infuzionnye-s-bolusom.html$ /catalog/speed/kpa [L,R=301]
RewriteRule ^contacts.html$ /contacts [L,R=301]
RewriteRule ^news/port-sistemy-myport.html$ / [L,R=301]
RewriteRule ^production/accufuser-plus.html$ /catalog/accufuser-easy-bolus-plus [L,R=301]
RewriteRule ^about.html$ /about [L,R=301]
RewriteRule ^production/accufuser-omnibus.html$ /catalog/accufuser-omnibus [L,R=301]
RewriteRule ^production/accufuser-abx.html$ /catalog/accufuser-abx [L,R=301]
RewriteRule ^news/duplicate-of-xiii-vserossijskaya-nauchno-metodicheskaya-konferenciya.html$ /news [L,R=301]
RewriteRule ^news/bezopasnost-farmakoterapii-vozmozhnosti-elastomernyh-pomp.html$ /materials/bezopasnost-farmakoterapii-chto-novogo [L,R=301]
RewriteRule ^news/tretij-mezhregionalnyj-forum-rukovoditelej-lpu-onkologicheskogo-profilja.html$ /news [L,R=301]
RewriteRule ^why.html$ /directions [L,R=301]
RewriteRule ^partners.html$ /partners [L,R=301]
RewriteRule ^buy.html$ /wherebuy [L,R=301]
RewriteRule ^news/xv-sezd-federacii-anesteziologov-i-reanimatologov.html$ /news/itogi-uchastiya-v-iv-s-ezde-federacii-anesteziologov-i-reanimatologov [L,R=301]
RewriteRule ^production/novyj-resurs/pompa-mikroinfuzionnaya-accufuser-wym-koreya.html$ https://vimeo.com/368431081 [L,R=301]
RewriteRule ^production/accufuser-selectus.html$ /catalog [L,R=301]
RewriteRule ^kupit-regulyator-infuzii/$ /wherebuy [L,R=301]
RewriteRule ^infuzomat-250-sm/$ /catalog/ambulatornaya-infuzionnaya-pompa-akkumat [L,R=301]
RewriteRule ^woo-young/$ /about/team [L,R=301]
RewriteRule ^variconn-instrukciya/$ /catalog/speed/kpa [L,R=301]
RewriteRule ^news/konferenciya-regionarnaya-anesteziya-i-perioperacionnoe-obezbolivanie-vchera-segodnya-zavtra-g.-arhangelsk.html$ /news [L,R=301]
RewriteRule ^publics/vnedrenie-programmiruemoj-intervalnoj-epiduralnoj-anestezii-s-bolyusom-dlya-obezbolivaniya-rodov1.html$ /news [L,R=301]
RewriteRule ^sfera-primeneniya.html$ /directions [L,R=301]
RewriteRule ^news/zdravoohranenie-belarusi-2018.html$ /news [L,R=301]

RewriteRule ^(.*)\.less$ index.php 
RewriteRule ^(.*)\.scss$ index.php 

RewriteCond %{HTTP_HOST} ^www\.(.*)$
RewriteRule ^(.*)$ http://%1/$1 [L,R=301]
RewriteRule ^database(.*)$ index.php [R=404,L]
RewriteRule ^.git(.*)$ index.php [R=404,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [L,QSA]

